<h1><%= @cocktail.name %></h1>

<h1> Doses </h1>
<ul>
  <% @cocktail.doses.each do |dose| %>
  <li> <%= dose.description%>  <%= dose.ingredient.name%></li>
  <% end %>
</ul>

<%= link_to "add a Dose", new_cocktail_dose_path(@cocktail), class: "btn btn-primary" %>
